* {
    background:     #121319;
    foreground:     #e2e2ea;

    color0:     #0c0e14;
    color1:     #b4c5ff;
    color2:     #bac5f0;
    color3:     #fcaaff;
    color4:     #4e6fcc;
    color5:     #3a4569;
    color6:     #a357a9;
    color7:     #c4c6d4;
    color8:     #8e909d;
    color9:     #b4c5ff;
    color10:     #bac5f0;
    color11:     #fcaaff;
    color12:     #4e6fcc;
    color13:     #3a4569;
    color14:     #a357a9;
    color15:     #e2e2ea;

    background-color:   @background;
    border-color:       @color8;
    spacing:            2;
}
